body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
h3{
margin: 0;
text-align: center;
background-color: palevioletred;
border-radius: 25px;

}
.koar{
background-color: peru;
border-radius: 15px;
padding: 9px;
margin: 6px;
box-sizing: border-box;
line-height: 30px;
font-weight: bold;
}
.koar p{
    background-color: pink;
border-radius: 10px;
padding: 4px;
text-align: center;
margin: 0;
}
.khana{
    background-color: powderblue;
   margin: 8px;
   border-radius: 12px;
    padding: 2px;
    text-align: center;
    line-height: 30px;
    font-variant: small-caps;
    font-weight: bold;
}
.khana p{
background-color: purple;
border-radius: 12px;
margin: 3px;
color: white;
}
.fonts{
    background-color: lightskyblue;
    padding: 3px;
    margin: 8px;
    border-radius: 13px;
    
}
#xx-small{
   font-size: xx-small;
}
#x-small{
font-size: x-small;
}
#small{
font-size:small;
}
#medium{
display: block;
font-size: medium;
}
#large{
    display: block;
margin-top: 10px;
font-size: large;

}
#x-large{
display: block;
margin-top: 10px;
font-size: x-large;
}

#xx-large{
display: block;
margin-top: 10px;
font-size: xx-large;
}